@using Proyectofinal.Models
@model MailContacto
@{
    ViewBag.Title = "Consulta";
    
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
    <title>Resumamos-Cambiar contraseña</title>
</head>
<body>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <center>
                    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                        @using (Html.BeginForm("MandarMailConsulta", "Home", FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w" }))
                        {
                            <h2>
                                <b>
                                    Contactate
                                </b>
                            </h2>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <h4>Nombre y apellido</h4>
                                </div>
                                <div class="col-md-8 col-12">
                                    <input type="text" style="box-shadow: 0 2px 8px -2px black;" class="form-control" required placeholder="Nombre y apellido" id="myInput"
                                           @Html.PasswordFor(model => model.Nombre, new { @class = "input100" })
                                    <br />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <h4>Asunto</h4>
                                </div>
                                <div class="col-md-8 col-12">
                                    <input type="text" style="box-shadow: 0 2px 8px -2px black;" class="form-control" required placeholder="Asunto" id="myInput"
                                           @Html.PasswordFor(model => model.Asunto, new { @class = "input100" })
                                    <br />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <h4>Mail</h4>
                                </div>
                                <div class="col-md-8 col-12">
                                    <input type="text" class="form-control" style="box-shadow: 0 2px 8px -2px black;" required placeholder="Mail" id="myInput"
                                           @Html.PasswordFor(model => model.Email, new { @class = "input100" })
                                    <br />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h4>Asunto</h4>
                                </div>
                                <div class="col-12">
                                    @Html.TextAreaFor(model => model.Mensaje, new { @class = "form-control" })
                                </div>
                            </div>
                            <input type="submit" value="Enviar" class="btn btn-primary" />
                        }

                        <br />
                    </div>
                </center>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</body>
</html>