@using Proyectofinal.Models
@model Buscador
@{
    ViewBag.Title = "Escuela";
    int cantres = 0;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Resumamos-Escuela</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <br />
    <br />
  
    <div class="container-fluid">
        <h2 class="bg-primary Titulo"><strong style="color:white;"> @ViewBag.nom </strong></h2>
    </div>

    <br />
    <br />
  
    @using (Html.BeginForm("Buscar", "Home", FormMethod.Post))
    {
        <center>

            <form class="form-horizontal">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-5 col-8">
                            <input type="search" style="box-shadow: 0 2px 10px -2px black;" class="form-control insertarTxtBusq" placeholder="Buscar resumen" style="box-shadow: 0 2px 5px -2px black;"
                                   @Html.TextBoxFor(model => model.txt, new { @class = "input100" })

                        </div>
                        <div class="col-lg-2 col-4">
                            <button type="submit" style="box-shadow: 0 2px 10px -2px black;" class="btn btn-primary ">Buscar </button>
                            @Html.HiddenFor(model => model.idEsc, new { Value = ViewBag.id })
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </form>
        </center>
    }


    <div class="content content-shadow1">
        <div class="size_mother">
            @if (ViewBag.b != 1)
            {
                <h3 class="Titulo">Los mejores resumenes de tu escuela</h3>
            }
            else
            {
                <h3 class="Titulo">Resultados de busqueda de tu escuela</h3>
            }
            <div class="col1 pt-2 clear" style=" border-bottom:#d2d2d2 1px solid; padding-bottom:40px; ">
                <div class="col1_2 fl l-2 clear">
                    <div class="container">
                        <div class="row">

                            @foreach (Resumenes res in ViewBag.lista)
                            {
                                cantres++;
                                <div class="col-lg-3">
                                    <div class="card" style="box-shadow: 0 2px 5px -2px black;">
                                        <div class="card-body">
                                            <h4 class="card-title alert-info">@res.Nombre</h4>
                                            <p class="card-text">@BD.TraerMateriaxId(res.FkMateria).NombreMateria</p>
                                            <p class="card-text">@BD.TraerEscuelaxId(res.FkEscuela).NombreEscuela</p>
                                            <p class="card-text">@BD.TraerAñoXid(res.Ano).escri</p>
                                            <p class="card-text">Puntuacion: @res.Puntuacion</p>
                                            <p class="card-text"> Autor: @BD.TraerAutorResumen(res.IdResumen).Nombre @BD.TraerAutorResumen(res.IdResumen).Apellido</p>

                                            <div class="verMas">
                                                <a href="@Url.Action("Resumen", "Home", new { Id = res.IdResumen })" class="btn-sm btn-dark"><b>Ver mas</b></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                    <center>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-1">
                                @if (ViewBag.pag != 1)
                                {
                                    <a href="@Url.Action("PaginaAnteriorEsc", "Home", new { pag = ViewBag.pag, id= ViewBag.id })">
                                        <h3><i class="fas fa-arrow-left"></i></h3>
                                    </a>
                                }
                                else
                                {
                                    <a href="#">
                                        <h3><i class="fas fa-arrow-left" style="color:gray;"></i></h3>
                                    </a>
                                }
                            </div>
                            <div class="col-2">
                                <h3>@ViewBag.pag</h3>
                            </div>
                            <div class="col-1">
                                @if (cantres == 16)
                                {
                                    <a href="@Url.Action("PaginaSiguienteEsc", "Home", new { pag = ViewBag.pag, id= ViewBag.id })">
                                        <h3><i class="fas fa-arrow-right"></i></h3>
                                    </a>
                                }
                                else
                                {
                                    <a href="#">
                                        <h3><i class="fas fa-arrow-right" style="color:gray;"></i></h3>
                                    </a>
                                }
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </center>

                </div>
            </div>
        </div>
    </div>
</body>
</html>