@using Proyectofinal.Models
@model Usuarios
@{
    ViewBag.Escuelas = BD.TraerEscuelas();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
    <link href="Content/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>



</head>

<body>
    <style>
        #footer {
            background: #17a2b8;
            padding: 0 0 30px 0;
            color: #fff;
            font-size: 14px;
        }



            #footer .footer-top {
                background: #17a2b8;
                border-top: 1px solid #474747;
                border-bottom: 1px solid #474747;
                padding: 60px 0 30px 0;
            }

                #footer .footer-top .footer-info {
                    margin-bottom: 30px;
                }

                    #footer .footer-top .footer-info h3 {
                        font-size: 18px;
                        margin: 0 0 20px 0;
                        padding: 2px 0 2px 0;
                        line-height: 1;
                        font-weight: 700;
                    }

                    #footer .footer-top .footer-info p {
                        font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 0;
                        font-family: "Raleway", sans-serif;
                        color: #fff;
                    }

                #footer .footer-top .social-links a {
                    font-size: 18px;
                    display: inline-block;
                    background: #545454;
                    color: #fff;
                    line-height: 1;
                    padding: 8px 0;
                    margin-right: 4px;
                    border-radius: 50%;
                    text-align: center;
                    width: 36px;
                    height: 36px;
                    transition: 0.3s;
                }

                    #footer .footer-top .social-links a:hover {
                        background: #e96b56;
                        color: #fff;
                        text-decoration: none;
                    }

                #footer .footer-top h4 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    text-transform: uppercase;
                    position: relative;
                    padding-bottom: 12px;
                }

                #footer .footer-top .footer-links {
                    margin-bottom: 30px;
                }

                    #footer .footer-top .footer-links ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }

                        #footer .footer-top .footer-links ul i {
                            padding-right: 2px;
                            color: #ec7f6d;
                            font-size: 18px;
                            line-height: 1;
                        }

                        #footer .footer-top .footer-links ul li {
                            padding: 10px 0;
                            display: flex;
                            align-items: center;
                        }

                            #footer .footer-top .footer-links ul li:first-child {
                                padding-top: 0;
                            }

                        #footer .footer-top .footer-links ul a {
                            color: #fff;
                            transition: 0.3s;
                            display: inline-block;
                            line-height: 1;
                        }

                            #footer .footer-top .footer-links ul a:hover {
                                color: #e96b56;
                            }

                #footer .footer-top .footer-contact {
                    margin-bottom: 30px;
                }

                    #footer .footer-top .footer-contact p {
                        line-height: 26px;
                    }

            #footer .copyright {
                text-align: center;
                padding-top: 30px;
            }

            #footer .credits {
                padding-top: 10px;
                text-align: center;
                font-size: 13px;
                color: #fff;
            }

        .fotofoot {
            height: 300px;
            width: 300px;
        }

        #myBtn {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: black; /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            border-radius: 10px; /* Rounded corners */
            font-size: 18px; /* Increase font size */
        }

            #myBtn:hover {
                background-color: black; /* Add a dark-grey background on hover */
            }
    </style>

    <section id="topbar" class="d-none d-lg-block" style="background-color:black !important;">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="far fa-envelope" style="color:white;"></i><a style="color:white;" href="mailto:resumamos@gmail.com"> resumamos@gmail.com </a>

            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/_resumamos/" target="_blank" class="instagram" style="color:white;"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/resumamos/" target="_blank" class="linkedin" style="color:white;"><i class="fab fa-linkedin"></i></a>

            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="background-color:#17a2b8 !important; box-shadow: 0 2px 6px -2px black;">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Home", "Home")">
                <img src="~/Content/logonuevo.png" width="120" height="100" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{
                if (Session["id"] != null)
                {
                    {
                        string i = Session["id"].ToString();
                        int idusu = Int32.Parse(i);
                        ViewBag.Nom = BD.TraerNombreUsuario(idusu);
                    }
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            

                            <li class="dropdown">
                                <button class="btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" type="button"> <i class="fas fa-user"></i>@ViewBag.Nom </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="@Url.Action("MiPerfil", "Home")">Mi perfil</a>
                                    <a class="dropdown-item" href="@Url.Action("inserRes", "Home")">Subir Resumen</a>
                                    <a class="dropdown-item" href="@Url.Action("Guardados", "Home")">Ver Resumenes Guardados</a>
                                    <a class="dropdown-item" href="@Url.Action("MisResumenes", "Home")">Mis resumenes</a>
                                    <a class="dropdown-item" href="@Url.Action("SubirLibro", "Home")">Publicar libro</a>
                                    <a class="dropdown-item" href="@Url.Action("MisLibros", "Home")">Mis libros</a>
                                    <a class="dropdown-item" href="@Url.Action("GuardadosLib", "Home")">Ver Libros Guardados</a>
                                    <a class="dropdown-item" href="@Url.Action("Cerrar", "Home")">Cerrar sesión <i class="fas fa-power-off"></i></a>
                                </div>
                            </li>

                        </ul>
                    </div>
                }
                else
                {
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" id="ocultar2" href="@Url.Action("Registrarse","Home")">Registrarse</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="ocultar1" onclick="$('#exampleModal').modal('show')" data-target="#exampleModal">
                                    Iniciar Sesion
                                </a>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesion</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <a class="nav-link" data-dismiss="modal" id="CerrarModal" style="display:none" data-target="#exampleModal">
                                                    Close
                                                </a>

                                            </div>
                                            <div class="modal-body">

                                                <center>
                                                    <div class="p-t-31 p-b-9">
                                                        <span class="txt1">
                                                            Nombre de usuario
                                                        </span>
                                                    </div>

                                                    <div class="wrap-input100 validate-input" data-validate="Nombre de usuario incorrecto">
                                                        <input type="text" id="Usuario" class="form-control" required placeholder="Usuario"
                                                               @Html.TextBoxFor(model => model.Username, new { @class = "input100" })
                                                        <span class="focus-input100">
                                                            @Html.ValidationMessageFor(model => model.Username)
                                                        </span>
                                                    </div>

                                                    <div class="p-t-13 p-b-9">
                                                        <span class="txt1">
                                                            Contraseña
                                                        </span>

                                                    </div>
                                                    <div class="wrap-input100 validate-input" data-validate="Contraseña incorrecta">
                                                        <br />
                                                        <input type="password" id="Contra" class="form-control" required id="Contra" placeholder="Contraseña"
                                                               @Html.PasswordFor(model => model.Contrasena, new { @class = "input100" })
                                                        <br />
                                                        <input type="checkbox" onclick="Mostrar()"> Ver contraseña
                                                        <br />
                                                        <span class="focus-input100">
                                                            @Html.ValidationMessageFor(model => model.Contrasena)
                                                        </span>
                                                        <br />
                                                        <a href="@Url.Action("Olvidar", "Home")" class="txt2 bo1 m-l-5">
                                                            ¿Olvidaste tu contraseña?
                                                        </a>
                                                    </div>

                                                    <br />
                                                    <hr />
                                                    <center>

                                                        <div class="BotonIniciar">
                                                            <button class="login100-form-btn btn btn-primary" onclick="Login();">
                                                                Iniciar sesión
                                                            </button>
                                                        </div>

                                                        <br />
                                                        <div class="w-full text-center p-t-55">
                                                            <span class="txt2">
                                                                ¿No estas registrado?
                                                            </span>
                                                            <a href="@Url.Action("Registrarse", "Home")" class="txt2 bo1">
                                                                Registráte ahora
                                                            </a>
                                                        </div>
                                                    </center>
                                                </center>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="btn dropdown-toggle " style="display:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" type="button"> <i class="fas fa-user"></i> aaa </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="@Url.Action("MiPerfil", "Home")">Mi perfil</a>
                                    <a class="dropdown-item" href="@Url.Action("inserRes", "Home")">Subir Resumen</a>
                                    <a class="dropdown-item" href="@Url.Action("Guardados", "Home")">Ver Resumenes Guardados</a>
                                    <a class="dropdown-item" href="@Url.Action("MisResumenes", "Home")">Mis resumenes</a>
                                    <a class="dropdown-item" href="@Url.Action("SubirLibro", "Home")">Publicar libro</a>
                                    <a class="dropdown-item" href="@Url.Action("MisLibros", "Home")">Mis libros</a>
                                    <a class="dropdown-item" href="@Url.Action("GuardadosLib", "Home")">Ver Libros Guardados</a>
                                    <a class="dropdown-item" href="@Url.Action("Cerrar", "Home")">Cerrar sesión <i class="fas fa-power-off"></i></a>
                                </div>
                            </li>

                        </ul>
                        </div>
                            }
                            }

                    </div>
</nav>

    <button onclick="topFunction()" id="myBtn" <i style="color:white;" class="fas fa-arrow-up"></i></button>




    @RenderBody()

    <!--<footer>

    <img src="~/Content/logoresumamos.png" alt="" width="300" height="60" class="logofooter" />
    <br />
    <div class="containericons">
        <a href="https://www.facebook.com/resumamosargentina/" target="_blank">
            <img src="~/Content/fbicon.png" alt="" width="50" height="50" class="iconimg" />
        </a>

        <a href="https://www.instagram.com/resumamosargentina/" target="_blank">
            <img src="~/Content/igicon.png" alt="" width="50" height="50" class="iconimg" />
        </a>

        <a href="https://www.twitter.com/resumamosargentina/" target="_blank">
            <img src="~/Content/twicon.png" alt="" width="50" height="50" class="iconimg" />
        </a>
    </div>
    <br />

    <div class="copyright">
        <p> Copyright © @DateTime.Now.Year <b>Resumamos!</b></p>
    </div>
    <!--
    <div class="container">
        <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4 col-12">
                <a href="@Url.Action("Consulta", "Home")">¿Nos ayudas a mejorar Resumamos?</a>
            </div>
        </div>
    </div>

            </footer> -->
    <footer id="footer">



        <div class="footer-top" >
            <div class="container">
                <div class="row">
                    <!--
                                                <div class="col-lg-3 col-md-6 footer-links">
                                                    <img class="fotofoot" src="~/Content/logonuevo.png" />
                                                </div>
                    -->
                    <div class="col-lg-4 col-md-4  footer-links">
                        <h4>Nuestros Servicios</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index","Home")">Resumenes</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Libros","Home")">Libros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("QuienesSomos","Home")">Quienes somos</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Consulta","Home")">Contactanos</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4  footer-contact">
                        <h4>Contactanos</h4>
                        <p>
                            <strong>Email:</strong> resumamos@gmail.com<br>

                        </p>

                    </div>

                    <div class="col-lg-4 col-md-4 footer-info">
                        <h3>Sobre Resumamos</h3>
                        <p>Resumamos es una pagina creada con el objetivo de poder ayudar a los estudiantes con el material de estudio. En esta pagina podras subir tu propio resumen, descargar resumenes de otros usuarios como tambien la compra y venta de libros escolares.</p>
                        <div class="social-links mt-3">
                            <a href="https://www.instagram.com/_resumamos/" target="_blank" class="instagram" style="color:white;"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/resumamos/" target="_blank" class="instagram" style="color:white;"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <img class="fotofoot" src="~/Content/logonuevo.png" />
                <br />
                &copy; Copyright <strong><span>Resumamos!</span></strong>. Todos los derechos reservados
            </div>

        </div>
    </footer><!-- End Footer -->

    <script>

            function Login() {
                user = $("#Usuario").val();
                contra = $("#Contra").val();
                $.ajax({
                    url: '/Home/ValidarLogin/',
                    data: { username: user,pass: contra},
                    success: function (data) {
                        //alert(data);
                        if (data == "") {
                            alert("Usuario o contraseña incorrecta");
                        } else {
                            $("#exampleModal").modal("hide");
                            $("#dropdownMenuButton").show();
                            $("#ocultar1").hide();
                            $("#ocultar2").hide();
                            $("#dropdownMenuButton").html(data);
                            var URLactual = window.location;
                            //alert(URLactual);
                            var url = URLactual.toString();
                            if (url.indexOf("Resumen") != -1) {
                                location.reload();
                            
                            }
                            if (url.indexOf("MiLibro") != -1) {
                                location.reload();
                            
                            }
                            
                        return false;
                        }

                    }, 
            statusCode : {
                404: function(content) { alert('cannot find resource'); },
                500: function(content) { alert('internal server error'); }
            }, 
            error: function(req, status, errorObj) {
                  // handle status === "timeout"
                  // handle other errors
            }
            });
            
               
            }


        function Mostrar() {
            var x = document.getElementById("Contra");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

