@using Proyectofinal.Models
@{
    ViewBag.Title = "Resumen";
    Resumenes res = BD.TraerResumen(ViewBag.id);
    ViewBag.esc = BD.TraerNombreEscuelaxId(res.FkEscuela);
    Usuarios usu = BD.TraerAutorResumen(ViewBag.id);
    Materia mate = BD.TraerMateriaxId(res.FkMateria);
    ViewBag.Comentarios = BD.TraerComentarios(ViewBag.id);
    ViewBag.ListaDenu = BD.TraerMotivos();
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <br />
    <br />
  
    <div class="container">
        <h3 class="Titulo">@ViewBag.Nombre </h3>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <a href="@Url.Action("AprobarResumen", "Backoffice", new { Id = ViewBag.id })" class="btn btn-outline-success btn-block" role="button">Aprobar <i class="fas fa-thumbs-up"></i></a>
            </div>

            <div class="col-md-4 col-xs-12">
                <a href="@Url.Action("RechazarResumen", "Backoffice", new { Id = ViewBag.id })" class="btn btn-outline-danger btn-block" role="button">Rechazar <i class="fas fa-thumbs-down"></i></a>
            </div>

            <div class="col-md-4 col-xs-12">
                <a href="@Url.Action("ImageDownload", "Home", new { Id= res.IdResumen})" class="btn btn-outline-primary btn-block" role="button">Descargar <i class="fas fa-download"></i></a>
            </div>
            
            <div class="col-xs-12 col-lg-12">
                <p><b>Descripcion:</b> @ViewBag.Descripcion</p>
            </div>
            
            <br />

        </div>
        <br />
        <br />
        <br />



        <center>
            <div class="container">
                <div class="datos">

                    <div class="row">
                        <i class="fas fa-user txtFinal"></i><p>Autor: <b>@usu.Nombre  @usu.Apellido </b></p>
                    </div>


                    <div class="row">
                        <i class="fas fa-school txtFinal"></i> <p>Escuela: <b>@ViewBag.esc</b></p>
                    </div>

                    <div class="row">
                        <i class="fas fa-book-open txtFinal"></i> <p>Materia: <b>@mate.NombreMateria </b></p>
                    </div>


                </div>
            </div>
        </center>

        <br />
        <center>
            <a type="Button" class="btn btn-primary" href="@Url.Action("index", "Backoffice")">Volver a la home <i class="fas fa-home"></i></a>
        </center>
        <br />
        <br />
        </div>
</body>
</html>

